@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@theme {
  --color-burgundy: #58131B;
  --color-rose-white: #FAF7F8;
}